<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- head section to add external resources and links -->
  <head>
    <meta charset="utf-8">
    <title> {{page.title}} </title>
    <link href="https://fonts.googleapis.com/css?family=Baskervville:400,400i|Euphoria+Script|Marck+Script&display=swap&subset=latin-ext" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.0/gridlex.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
   <!-- Magnific Popup for lightbox galleries   -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<link href="https://fonts.googleapis.com/css?family=Kristi|Meddon|Open+Sans+Condensed:300|Qwigley|Roboto+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
  </head>
  <!-- main content of page -->
  <body>
    <!-- Header -->
<section class="banner-with-header grid-center padded">
  <header class="absolute-header grid">
    <div class="col-4 middle">
      <a href="/">
        <h2 class="logo"> Claudia Steinbach </h2>
      </a>
    </div>
    <div class="col-4">
  </div>
  <div>
    <nav class="col-4 navvy mobile-hide">
      <a href="/about"> About </a>
      <a href="/photography"> Photography </a>
      <a href="/blog"> Blog </a>
      <a href="/contact"> Contact </a>
    </nav>
  </div>
  <nav class="mobile-show">
    <div class="burger-button">
      <span class="burger-top"></span>
      <span class="burger-second"></span>
      <span class="burger-third"></span>
      <span class="burger-bottom"></span>
    </div>
    <div class="burger-menu">
      <a href="/contact">About</a>
      <a href="/photography">Photography</a>
      <a href="/blog">Blog</a>
      <a href="/contact"> Contact</a>
    </div>
  </nav>


  </header>
</section>

<div
style="background-image:url('{{page.banner_image}}')">
</div>

<!-- CONTENT GOES HERE -->

{{content}}

<footer>

<nav class="footerbutton">

<a class="navcontact" href="/contact"> Contact Claudia </a> |
<a href="/groupinstruction"> Group Instruction </a> |
<a href="/photography"> Photography </a>


</nav>


<nav class="footernav">
    <a href="mailto:Cq.steinbach@gmail.com ?subject=Let's Fly" target="_blank"> <i class="fas fa-envelope"></i>
      <a href="https://www.facebook.com/leah.wetzel.5" target="_blank">   <i class="fab fa-instagram"></i></a>
      <a href="https://www.instagram.com/leahluv308/?hl=en" target="_blank">  <i class="fab fa-facebook-f"></i>
  </nav>

</footer>


</body>
</html>
