<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- head section to add external resources and links -->
  <head>
    <meta charset="utf-8">
    <title> Claudia Steinbach Aerial Artist </title>
    <link href="https://fonts.googleapis.com/css?family=Baskervville:400,400i|Euphoria+Script|Marck+Script&display=swap&subset=latin-ext" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.0/gridlex.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <!-- main content of page -->
  <body>
    <!-- Banner w/Header -->
    <section class="banner-with-header">
      <header class="absolute-header grid">
        <div class="col-6 logo">
          <a href="/"> CLAUDIA STEINBACH </a>
          <a class= "aerialartist" href="/"> Aerial Artist </a>

        </div>
    <!-- nav -->
        <nav class="col-6 nav">
          <a href="#"> Blog </a>
          <a href="#"> Contact </a>
          <a href="#"> Book </a>
          <a href="#"> Photography </a>
        </nav>
      </div>
      </header>
</section>

</body>
</html>
